body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(26, 26, 26);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(35, 35, 35);
  padding: 1.2rem 1rem;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.separator {
  width: 1px;
  height: 2rem;
  background-color: white;
  margin: 0 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(230, 0, 176);
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar input {
  padding: 0.5rem;
  padding-right: 5rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(68, 68, 68);
}

.search-bar .search-icon {
  position: absolute;
  right: 10px;
  color: rgb(230, 0, 176);
}
